body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8dbda;

}

footer {
    background-color: #e70a0a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: Arial, sans-serif;
}

header {
    background-color: #e70a0a;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
}

#categories_boto {
    font-size: 30px;
    font-family: fantasy;
    color: #000000;
}

#nombre {
    font-size: 100px;
    font-family: fantasy;
    text-align: center;
    color: #000000;
    flex: 1;
    margin-left: 200px;
}

#user_pic {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-right: 10px;
}

#shopping_cart {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

#menu-desplegable {
    display: none;
    position: absolute;
    max-width: 130px;
    top: 100px;
    left: 1200px;
    right: 50px;
    background-color: #51c142;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

#logo_uab {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a:link {
    text-decoration: none;
    color: #000000;
}


a:visited {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

a:active {
    text-decoration: none;
    color: #000000;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    margin: 0 10px;
}

.image-caption {
    margin-top: 5px;
    font-family: fantasy;
    text-align: center;
}

@media (max-width: 768px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #e8dbda;
    }

    footer {
        background-color: #e70a0a;
        color: #e70a0a;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    header {
        background-color: #e70a0a;
        color: #fff;
        display: flex;
        align-items: center;
        padding: 10px;
    }

    #categories_boto {
        font-size: 30px;
        font-family: fantasy;
        color: #000000;
    }

    #nombre {
        font-size: 100px;
        font-family: fantasy;
        text-align: center;
        color: #000000;
        flex: 1;
        margin-left: 200px;
    }

    #user_pic {
        cursor: pointer;
        width: 50px;
        height: 50px;
        margin-left: 50px;
        margin-right: 10px;
    }

    #shopping_cart {
        cursor: pointer;
        width: 50px;
        height: 50px;
        margin-left: 50px;
        margin-right: 50px;
    }

    #menu-desplegable {
        display: none;
        position: absolute;
        max-width: 130px;
        top: 100px;
        left: 1200px;
        right: 50px;
        background-color: #51c142;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
    }

    #logo_uab {
        width: 50px;
        height: auto;
        margin-right: 10px;
    }

    .container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    a:link {
        text-decoration: none;
        color: #000000;
    }

    a:visited {
        text-decoration: none;
        color: #000000;
    }

    a:hover {
        text-decoration: none;
        color: #000000;
    }

    a:active {
        text-decoration: none;
        color: #000000;
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-container img {
        margin: 0 5px;
    }

    .image-caption {
        margin-top: 5px;
        font-family: fantasy;
        text-align: center;
    }
}