body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8dbda;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#cabas {
    text-align: center;
}

header {
    background-color: #e70a0a;
    color: #fff;
    display: flex;
    justify-content: center; /* Centrar en el eje principal */
    align-items: center; /* Centrar en el eje secundario */
    padding: 10px;
}

#nombre {
    font-size: 100px;
    font-family: fantasy;
    text-align: center;
    color: #000000;
    flex: 1;
    margin-left: 200px;
}

a:link {
    text-decoration: none;
    color: #000000;
}


a:visited {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

a:active {
    text-decoration: none;
    color: #000000;
}

footer {
    background-color: #e70a0a;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

#user_pic {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-right: 10px;
}

#shopping_cart {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    font-family: fantasy;
}

#menu-desplegable {
    display: none;
    position: absolute;
    max-width: 130px;
    top: 100px;
    left: 1200px;
    right: 50px;
    background-color: #51c142;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    margin: 0 5px;
}

#agregar-btn {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #e70a0a;
    color: #000000;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    font-family: fantasy;
    bottom: 800px;
}

#agregar-btn:hover {
    background-color: #2980b9;
}

.product-container {
    display: flex;
    position: relative;
    margin-left: 20px;
}

@media (max-width: 768px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #e8dbda;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    header {
        background-color: #e70a0a;
        color: #fff;
        display: flex;
        justify-content: center; /* Centrar en el eje principal */
        align-items: center; /* Centrar en el eje secundario */
        padding: 10px;
    }

    #nombre {
        font-size: 100px;
        font-family: fantasy;
        text-align: center;
        color: #000000;
        flex: 1;
        margin-left: 200px;
    }

    a:link {
        text-decoration: none;
        color: #000000;
    }


    a:visited {
        text-decoration: none;
        color: #000000;
    }

    a:hover {
        text-decoration: none;
        color: #000000;
    }

    a:active {
        text-decoration: none;
        color: #000000;
    }

    footer {
        background-color: #e70a0a;
        color: #000000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
        padding: 10px;
    }

    #shopping_cart {
        cursor: pointer;
        width: 50px;
        height: 50px;
        margin-left: 50px;
        margin-right: 50px;
    }

    h1 {
        font-family: fantasy;
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-container img {
        margin: 0 5px;
    }

    #agregar-btn {
        width: 200px;
        height: 50px;
        border-radius: 10px;
        background-color: #e70a0a;
        color: #000000;
        text-align: center;
        line-height: 50px;
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;
        font-family: fantasy;
        bottom: 800px;
    }

    #agregar-btn:hover {
        background-color: #2980b9;
    }

    .product-container {
        display: flex;
        position: relative;
        margin-left: 20px;
    }
}